<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] - Stronk</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true"/>
</head>
<body>
<header>
    <nav>
        <img class="logo" src="~/logo.png" title="Website Logo" alt="Website Logo" />
        <ul>
            <li><a asp-controller="Home" asp-action="Index">Homepage</a></li>
            <li><a asp-controller="Workout" asp-action="Index">Workouts</a></li>
            <li><a asp-controller="Exercise" asp-action="Index">Exercises</a></li>
        </ul>
    </nav>
    <a asp-controller="Login" asp-action="Logout"><button class="logout"><span class="logout-text">Logout</span></button></a>
</header>
<main>
    @RenderBody()
</main>
<footer>
    &copy; 2022 - Stronk - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
</footer>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
@await RenderSectionAsync("Scripts", required: false)
</body>
</html>