<!DOCTYPE html>
<html lang="en">
<head>
    <title>Login - Stronk</title>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true"/>
</head>
<body>
<div class="wrap-login">
    <div class="login-form">
        @RenderBody()
    </div>
</div>
</body>
</html>