<!DOCTYPE html>
<html lang="en">
<head>
    <title>@ViewData["Title"] - Stronk</title>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true"/>
    <link rel="stylesheet" href="~/css/Login/Login.css" asp-append-version="true"/>
</head>
<body>
<div class="wrap-login">
    <div class="login-form">
        <ul>
            <li><a asp-controller="Login" asp-action="Index">Sign in</a></li>
            <li><a asp-controller="Login" asp-action="Register">Sign up</a></li>
        </ul>
        <h1>@ViewData["Title"]</h1>
        @RenderBody()
        <h4 class="errorMessage">@TempData["Error"]</h4>
    </div>
</div>
</body>
</html>