@model Workout
@{
    Layout = "_Form";
    ViewData["Title"] = "Edit Workout";
}

@using (Html.BeginForm("Edit", "Workout", FormMethod.Post))
{
    @Html.TextBoxFor(workout => workout.Name, new { placeholder = "Name", required = "required", maxlength = 50 })
    <div class="dropSelect">
        <button type="button" id="dropdownButton">Select Exercises</button>
        <ul class="wrapOptions" id="wrapOptions">
            @foreach (Exercise exercise in ViewBag.Exercises)
            {
                <li>
                    @Html.CheckBox("exercises", ViewBag.SelectedExercises.Contains(exercise.Id), new { value = exercise.Id })
                    @exercise.Name
                </li>
            }
        </ul>
    </div>
    <input class="submit" type="submit" value="Edit Workout"/>
}