@model Exercise
@{
    Layout = "_Form";
    ViewData["Title"] = "Create Exercise";
}

@using (Html.BeginForm("Create", "Exercise", FormMethod.Post))
{
    @Html.TextBoxFor(exercise => exercise.Name, new { placeholder = "Name", required = "required", maxlength = 50 })
    @Html.TextAreaFor(exercise => exercise.Description, new { placeholder = "Description" })
    <div class="dropSelect">
        <button type="button" id="dropdownButton">Select Muscles</button>
        <ul class="wrapOptions" id="wrapOptions">
            @foreach (Muscle muscle in ViewBag.Muscles) 
            {
                <li>
                    @Html.CheckBox("muscles", false, new { value = muscle.Id })
                    @muscle.Name
                </li>
            }
        </ul>
    </div>
    <input class="submit" type="submit" value="Create Exercise"/>
}