@{
    Layout = "_Layout";
    ViewData["Title"] = ViewBag.Exercise.Name;
}

<h1 class="pageTitle">@ViewBag.Exercise.Name</h1>
<h2>@ViewBag.Exercise.Description</h2>
<ul>
    @foreach (ExerciseMuscle exerciseMuscle in ViewBag.Exercise.ExerciseMuscles)
    {
        <li>@exerciseMuscle.Muscle.Name</li>
    }
</ul>