@model Exercise
@{
    Layout = "_Form";
    ViewData["Title"] = "Edit Exercise";
}

@using (Html.BeginForm("Edit", "Exercise", FormMethod.Post))
{
    @Html.TextBoxFor(exercise => exercise.Name, new { placeholder = "Name", required = "required", maxlength = 50 })
    @Html.TextBoxFor(exercise => exercise.Description, new { placeholder = "Description" })
    <div class="dropSelect">
        <button type="button" id="dropdownButton">Select Muscles</button>
        <ul class="wrapOptions" id="wrapOptions">
            @foreach (Muscle muscle in ViewBag.Muscles) 
            {
                <li>
                    @Html.CheckBox("muscles", ViewBag.SelectedMuscles.Contains(muscle.Id), new { value = muscle.Id })
                    @muscle.Name
                </li>
            }
        </ul>
    </div>
    <input type="submit" value="Edit Exercise"/>
}