@model Exercise
@{
    Layout = "_Form";
    ViewData["Title"] = "Edit Exercise";
}



@using (Html.BeginForm("Edit", "Exercise", FormMethod.Post))
{
    @Html.TextBoxFor(exercise => exercise.Name, new { placeholder = "Name", required = "required", maxlength = 50, @Value="test" })
    @Html.TextBoxFor(exercise => exercise.Description, new { placeholder = "Description", @Value = "test" })
    @foreach (Muscle muscle in ViewBag.Muscles)
    {
        <p>@muscle.Name</p>
        @Html.CheckBox("muscle", true, new { value = muscle.Id })
    }
    <input type="submit" value="Create Exercise"/>
}