@{
    ViewData["Title"] = "Posts";
}
<h1>Posts</h1>

<div class="wrapHome">
    <div class="wrapPosts">
        <div class="post">
            <div class="postWrapper">
                <div class="postTitle">
                    <h3>User 2</h3>
                    <h2>Title</h2>
                    <h3>09.11.2022</h3>
                </div>
                <h3>This was an Insane Workout</h3>
                <ul>
                    <li>Exercise 1</li>
                    <li>Exercise 2</li>
                </ul>
                <button>Copy Workout</button>
            </div>
        </div>
        <div class="post">
            <div class="postWrapper">
                <div class="postTitle">
                    <h3>User 1</h3>
                    <h2>Title</h2>
                    <h3>09.11.2022</h3>
                </div>
                <h3>This was an Insane Workout</h3>
                <ul>
                    <li>Exercise 1</li>
                    <li>Exercise 2</li>
                </ul>
            </div>
        </div>
        <div class="post">
            <div class="postWrapper">
                <div class="postTitle">
                    <h3>User 1</h3>
                    <h2>Title</h2>
                    <h3>09.11.2022</h3>
                </div>
                <h3>This was an Insane Workout</h3>
                <ul>
                    <li>Exercise 1</li>
                    <li>Exercise 2</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="wrapProfile">
        <div class="profile">
            <h2>Username</h2>
            <h3>Created Posts: 4</h3>
        </div>
    </div>
</div>