<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Stronk - Denied</title>
</head>
<body>
<h1>Access to the requested page has been denied.</h1>
<h2>If you haven't done so yet, please consider 
    <a asp-controller="Login" asp-action="Index">Logging in</a> or 
    <a asp-controller="Login" asp-action="Register">creating an Account</a></h2>
</body>
</html>