:root {
  --textColor: white;
  --bg: rgb(14 19 22);
  --light: rgb(29 37 43);
  --shadow: rgb(13 13 13);
}

body {
  font-family: Arial, serif;
  height: 100vh;
  margin: 0;
  background-color: var(--bg);
  color: var(--textColor);
}
button, input[type="submit"]{
  cursor: pointer;
}
a {
  color: white;
  text-decoration: none;
}
h1, h2, h3, h4 {
  margin: 0;
}
h1 {
  font-size: 3em;
  text-align: center;
  margin: 10px 0;
}
h2 {
  font-size: 2.2em;
}
h3 {
  font-size: 1.5em;
}
h4 {
  font-size: 1.25em;
}
ul {
  margin: 0;
  padding: 0;
}
header ul {
  display: flex;
  gap: 20px;
}
li {
  list-style: none;
} 

main {
  padding-top: 100px;
  min-height: calc(100vh - 300px);
}
.pageTitle {
  margin: 50px 0;
}
.errorMessage {
  color: red;
  margin-bottom: 10px;
}

/* DIFFERENT BUTTONS */
.crudButton {
  border: none;
  padding: 0;
  display: grid;
  place-items: center;
  color: white;
  box-shadow: 0 0 5px 1px var(--shadow);
  border-radius: 5px;
  transition: 200ms ease;
  background-color: transparent;
  aspect-ratio: 1;
  width: 30px;
}
.crudButton:hover {
  box-shadow: 0 0 8px 2px var(--shadow);
}
.edit:hover {
  color: #46a6ff;
}
.delete:hover {
  color: #ff281e;
}
.create:hover {
  color: #0ecd39;
}
.add {
  width: 100%;
  height: 30px;
  background-color: var(--light);
}
.submit {
  width: 100%;
  height: 30px;
  border-style: solid;
  border-radius: 50px;
}

/* HEADER */

header {
  position: fixed;
  z-index: 2;
  top: 0;
  background-color: rgb(29 37 43/ 0.8);
  height: 100px;
  width: 90%;
  padding: 0 5%;
  box-shadow: 0 0 10px 2px var(--shadow);
  backdrop-filter: blur(7px);
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header nav {
  height: 100px;
  display: flex;
  align-items: center;
  gap: 40px;
}
.logo {
  height: 100%;
  aspect-ratio: 1;
}

/* FOOTER */

footer {
  position: relative;
  bottom: 0;
  margin-top: 100px;
  background-color: var(--light);
  width: 100%;
  height: 100px;
  box-shadow: 0 0 10px 2px var(--shadow);
  display: flex;
  justify-content: center;
  align-items: center;
}

/* LOGOUT BUTTON */

.logout {
  width: 80px;
  height: 35px;
  font-size: 16px;
  color: white;
  background-color: var(--light);
  border-style: solid;
  border-width: 1px;
  border-radius: 8px;
  padding: 0;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}
.logout::before {
  content: "";
  display: flex;
  width: 0;
  height: 35px;
  background-color: var(--shadow);
  transition: 300ms ease;
}
.logout:hover::before {
  translate: 0;
  width: 200px;
}
.logout-text {
  position: absolute;
}

/* ITEM */
.wrapItems {
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
}
.item {
  width: 100%;
  padding: 20px 30px;
  background-color: var(--light);
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
}
.item h2 {
  margin-bottom: 15px;
}
.wrapSubItem {
  margin-top: 15px;
  display: flex;
  gap: 15px;
}
.subItem {
  padding: 10px 20px;
  border-style: solid;
  border-width: 1px;
  border-radius: 50px;
}
.itemButtons {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 10px;
}
.wrapItems i {
  font-size: 16px;
}